<%= render 'layouts/running-text' %>
<%= render 'layouts/navbar' %>
<div class="container mt-3">
  <h1>Add a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Add a new list', class: "btn btn-primary" %>
  <% end %>
</div>
