<%= render 'layouts/running-text' %>
<%= render 'layouts/navbar' %>
<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <h5>Movies</h5>
  <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %></p>
    <%= image_tag bookmark.movie.poster_url, alt: "poster", height: 300 %>
  <% end %>
  <h5>Bookmarks</h5>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.comment %>
        <%= link_to bookmark_path(bookmark),
            data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.comment}?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Back to all lists", root_path, class: "btn btn-primary" %>
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>
